# Translating Identifiers Into Factiva Codes

This notebook shows how to translate supported company identifiers into Factiva Codes. This is usually done in pre-news data selection when there's a existing list of companies for which news content will be collected.

In this notebook...
* [Dependencies and Initialisation](#dependencies-and-initialisation)
* [The Taxonomy Class](#the-taxonomy-class)
* [Translating one or multiple identifiers](#translating-one-or-multiple-identifiers)
* [Next Steps](#next-steps)

## Dependencies and Initialisation
Import statements and environment initialisation using the package `dotenv`. More details in the [Configuration notebook](0.2_configuration.ipynb).

In [7]:
from factiva.news import Taxonomy
from dotenv import load_dotenv
load_dotenv()
print('Done!')

Done!

## The Taxonomy Class

The taxonomy class interacts with the API and thus, requires to authenticate by using the user_key parameter. By default it is taken from the environment variable `FACTIVA_USERKEY`.

To get started, show the list of available identifiers can be obtained using the attribute `identifiers`

In [3]:
t = Taxonomy()
t.identifiers

['cusip', 'ticker', 'isin', 'sedol']

## Translating one or multiple identifiers

The function `<Taxonomy>.get_company` is used in either case, the difference relies in the passed `company_codes` parameter type: `str` for one code or `list` for multiple codes.

- **code_type**: str
        String containing the company code type. Possible values are
        `cusip`, `ticker`, `isin`, `sedol`
- **company_codes**: str or list
        Value or list of company_codes values.
        
Examples:

```Python
t.get_company('isin', company_codes='PLUNMST00014')

             id  fcode                                common_name
0  PLUNMST00014  UNSYT  Unima 2000 Systemy Teleinformatyczne S.A.

company_list = ['US0378331005', 'US0231351067', 'US5949181045']
t.get_company('isin', company_codes=company_list)

             id   fcode      common_name
0  US5949181045  MCROST  Microsoft Corp.
1  US0231351067  AMZCOM  Amazon.com Inc.
2  US0378331005   APPLC       Apple Inc.

```

In [4]:
t.get_company('isin', company_codes='PLUNMST00014')

             id  fcode                                common_name
0  PLUNMST00014  UNSYT  Unima 2000 Systemy Teleinformatyczne S.A.

In [5]:
company_list = ['US0378331005', 'US0231351067', 'US5949181045']
t.get_company('isin', company_codes=company_list)

             id   fcode      common_name
0  US5949181045  MCROST  Microsoft Corp.
1  US0378331005   APPLC       Apple Inc.
2  US0231351067  AMZCOM  Amazon.com Inc.

# Next Steps

* Take a look at the different [taxonomies](1.2_taxonomies_djid.ipynb) applied to the data, which can be used to select and later work with the downloaded content.
* Run an [explain](1.4_snapshot_explain.ipynb) to get a quick idea about how to query the archive.
* Explore the available fields in the archive and how to apply conditions on them according to the [query reference](2.1_complex_large_queries.ipynb).